$primary-bg-color: #FF5E56;
$primary-color: #EA0029;
$hover-bg-color: #FFFFFF;
$inactive-bg-color: #BEC5CC;
$border-color: #FFFFFF;
$text-color: #000000;
$disabled-text-color: #FFFFFF;
$transition-time: 0.3s;
$border-radius: 6px;

.content {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100vw;
   background-color: $primary-bg-color;
}

.btnMain {
   padding: 12px 24px;
   color: $border-color;
   background-color: inherit;
   border: 1px solid $border-color;
   border-radius: $border-radius;
   cursor: pointer;
   transition: background-color $transition-time, color $transition-time;

   &:hover {
      background-color: $hover-bg-color;
      color: $text-color;
   }

   &:active {
      background-color: $hover-bg-color;
      color: $text-color;
      border-color: $primary-color;
   }

   &:disabled {
      background-color: $inactive-bg-color;
      color: $disabled-text-color;
      border-color: $inactive-bg-color;
      cursor: not-allowed;
   }
}