$primary-color: #EA0029;
$hover-color: #F53A31;
$disabled-color: #BEC5CC;
$text-color: #000000;
$placeholder-color: #BEC5CC;
$input-border-color: #DFE3E6;
$font-weight-medium: 500;
$font-weight-regular: 400;
$letter-spacing: 0%;


.title {
   font-weight: $font-weight-medium;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: $letter-spacing;
   margin-bottom: 6px;
}

.discription {
   font-weight: $font-weight-regular;
   font-size: 14px;
   line-height: 24px;
   color: #808080;
   margin-bottom: 10px;
}

.subtitle {
   font-weight: $font-weight-medium;
   font-size: 14px;
   line-height: 24px;
   letter-spacing: $letter-spacing;
}

.input {
   color: $text-color;
   border: 1px solid $input-border-color;
   border-radius: 3px;
   padding: 10px 10px;
   width: 100%;
   margin: 8px 0;

   &:hover {
      border: 1px solid $text-color;
   }

   &::placeholder {
      color: $placeholder-color;
   }
}

.inputError {
   border: 1px solid $primary-color;
}

.errorMessage {
   color: $primary-color;
   font-size: 12px;
   margin: 5px 0;
}

.btnCalc {
   background-color: inherit;
   color: $primary-color;
   border: none;
   font-weight: $font-weight-medium;
   font-size: 14px;
   line-height: 24px;
   cursor: pointer;
   margin-bottom: 16px;

   &:hover {
      color: $hover-color;
   }

   &:disabled {
      background-color: $disabled-color;
   }
}

.addBtn {
   width: 100%;
   border-radius: 6px;
   padding: 16px 0;
   background: linear-gradient(to right, #FF5E56, #DC3131);
   border: none;
   color: #FFFFFF;
   cursor: pointer;

   &:hover {
      background: linear-gradient(to right, $primary-color, #DC3131);
   }

   &:disabled {
      background: $disabled-color;
      cursor: not-allowed;
      color: #FFFFFF;
   }
}